.selfie {
  width: 49%;
  height: auto;
  border-style: groove;
  border-color: rgba(50, 96, 105, 0.5);
  margin: 5px;
  padding: 10px;
  border-width: 10px;
  float: left;
  box-sizing: border-box;
}
.projects {
  width: 49%;
  height: 10%;
  border-style: groove;
  border-color: rgba(50, 96, 105, 0.5);
  margin: 5px;
  padding: 10px;
  border-width: 10px;
  float: right;
  box-sizing: border-box;
}
.about-me {
  border-style: groove;
  border-color: rgba(42, 82, 90, 0.5);
  margin: 5px;
  padding: 10px;
  border-width: 10px;
}
.background {
  border-style: groove;
  border-color: rgba(36, 73, 80, 0.5);
  margin: 5px;
  padding: 10px;
  border-width: 10px;
}
.interests {
  border-style: groove;
  border-color: rgba(26, 51, 56, 0.5);
  margin: 5px;
  padding: 10px;
  border-width: 10px;
}
.summary {
  border-style: groove;
  border-color: rgba(19, 37, 41, 0.5);
  margin: 5px;
  padding: 10px;
  border-width: 10px;
}
.music {
  border-style: groove;
  border-color: rgba(10, 20, 22, 0.5);
  margin: 5px;
  padding: 10px;
  border-width: 10px;
}
.column {
  float: left;
}
p {
  text-indent: 25px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 em {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background:linear-gradient(275deg, rgba(34,193,195,1) 0%, rgb(184, 210, 228) 100%);
  border-style: inset;
  border-color: rgba(42, 82, 90, 0.5);
  border-radius: 5px;
  padding: 5px;
}
h4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
.extra {
  color: white;
  background:linear-gradient(275deg, rgba(31,207,191,1) 0%, rgba(39,49,205,1) 62%, rgba(89,13,122,1) 100%);
  border-style: inset;
  border-color: rgba(42, 82, 90, 0.5);
  border-radius: 5px;
  padding: 2px;
}
.extra2 {
  background:linear-gradient(275deg, rgba(34,193,195,1) 0%, rgb(184, 210, 228) 100%);
  border-style: inset;
  border-color: rgba(42, 82, 90, 0.5);
  border-radius: 5px;
  padding: 2px;
}
h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  font-size: 50px;
  text-align: center;
  background:linear-gradient(275deg, rgb(39, 233, 236) 0%, rgb(20, 103, 197) 100%);
  border-style: groove;
  border-color: rgba(42, 82, 90, 0.5);
  border-radius: 5px;
  padding: 2px;
}
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  font-size: 50px;
  text-align: center;
  background:linear-gradient(275deg, rgb(39, 233, 236) 0%, rgb(20, 103, 197) 100%);
  border-style: groove;
  border-color: rgba(42, 82, 90, 0.5);
  border-radius: 5px;
  padding: 2px;
}
.projects a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}
.projects p {
  font-size: 23.5px;
}
.summary a {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.summary p {
  font-size: 15px;
  text-indent: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.music {
  font-size: 15px;
  line-height: 30px;
  text-indent: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5 {
  font-size: 20px;
  line-height: 10px;
}